.html-page {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
            'sidebar header'
            'sidebar content'
            'sidebar footer';
    justify-items: center;
    align-items: center;

}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    align-self: normal;
    justify-content: space-evenly;

    margin-bottom: 16rem;
}

 ul {
    list-style-type: none;
}

.header {
    grid-area: header;
}

#main-content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}