body {
    margin: 0;
    padding: 0;
}


.html-page {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
            'sidebar header'
            'sidebar content'
            'sidebar footer';
    justify-items: center;
    align-items: center;
    font-family: monospace;

}



.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    align-self: normal;
    justify-content: space-evenly;
}

 ul {
    list-style-type: none;
 }

.header {
    grid-area: header;
}

.header-crypto-items {
    display: flex;
    gap: 7em;
    padding: 0;
    margin: 0;
}

#main-content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}